:root {
    --primary: #306787;
    /* --darker: #05324B; */
    /* --lighter: #7697A8; */
    

    --azulOscuro: rgb(44, 82, 136);
    
    /* --celeste: rgb(5, 139, 192); */
    --celeste: rgb(2, 128, 179);
}

/*asi se utilizan, con el var(--variable)*/
/* body {
    font-family: var(--fuentePrincipal);
} */



/* boton agregar paciente */
.add-btn {
    /* background-color: rgb(44, 82, 136);  /*color azul lindo, antes de modificar todo */
    background-color: var(--primary);
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: #fff;
    /* border: 4px solid rgb(44, 82, 136); */
    border: 4px solid var(--primary);
    -webkit-transition: color .5s ease;
    transition: color .5s ease;
    padding: 10px 20px;
    font-family: Arial;
    font-weight: 800;
    font-size: 1.05em;
    border-radius: 1rem;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    width: 100%;
}
   
.add-btn::before {
    content: '';
    inset:  0 0 0;
    margin: auto;
    height: 0px;
    width: 0px;
    position: absolute;
    /* background-color: rgb(44, 82, 136); */
    background-color: var(--primary);
    filter: brightness(60%);
    z-index: -1;
    border-radius: 5rem;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}
   
.add-btn:active {
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}
   
.add-btn:hover {
    color: #fff;
    width: 100%;
    font-weight: 900;
}
   
.add-btn:hover:before {
    height: 100px;
    border-radius: 0;
    width: 100%;
}



/* boton editar paciente*/
.edit-btn {
    /* background-color: rgb(44, 82, 136); */
    background-color: var(--primary);
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: #fff;
    /* border: 4px solid rgb(44, 82, 136); */
    border: 4px solid var(--primary);
    -webkit-transition: color .5s ease;
    transition: color .5s ease;
    padding: 10px 20px;
    font-family: Arial;
    font-weight: 800;
    font-size: 1.05em;
    border-radius: 1rem;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    width: 25%;
}
@media (min-width: 768px) { 
    .edit-btn {
        width:40%;
    }
}
   
.edit-btn::before {
    content: '';
    inset:  0 0 0;
    margin: auto;
    height: 0px;
    width: 0px;
    position: absolute;
    /* background-color: rgb(44, 82, 136); */
    background-color: var(--primary);
    filter: brightness(60%);
    z-index: -1;
    border-radius: 5rem;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}
   
.edit-btn:active {
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}
   
.edit-btn:hover {
    color: #fff;
}
   
.edit-btn:hover:before {
    height: 100px;
    border-radius: 0;
    width: 100%;
}


/* boton de eliminar paciente*/
.delete-btn {
    /* background-color: rgb(5, 139, 192); */ /*color celeste lindo antes de modificar todo el css*/
    background-color: var(--celeste);
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: #fff;
    /* border: 4px solid rgb(5, 139, 192); */
    border: 4px solid var(--celeste);
    -webkit-transition: color .5s ease;
    transition: color .5s ease;
    padding: 10px 20px;
    font-family: Arial;
    font-weight: 800;
    font-size: 1.05em;
    border-radius: 1rem;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    width: 25%;
}

@media (min-width: 768px) { 
    .delete-btn {
        width:40%;
    }
}
   
.delete-btn::before {
    content: '';
    inset:  0 0 0;
    margin: auto;
    height: 0px;
    width: 0px;
    position: absolute;
    /* background-color: rgb(5, 139, 192); */
    background-color: var(--celeste);
    filter: brightness(60%);
    z-index: -1;
    border-radius: 5rem;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}
   
.delete-btn:active {
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}
   
.delete-btn:hover {
    color: #fff;
}
   
.delete-btn:hover:before {
    height: 100px;
    border-radius: 0;
    width: 100%;
}